.body { background-image:url('4.jpg'); }

body {
text-align: center;
}

h1 {
	font-size: 100px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 50px;
	padding: 20px;
	height: 70px;
	font-family: 'Open Sans', Arial, sans-serif;
	border: solid 5px #e0e0e0;
	
}

h3 {
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px;
	padding: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
}

p {
	font-size: 10px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px;
	padding: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
}

.Header {
	font-family: "Arial";
	font-size: 10px;
	color: #FFF;
}

#container {
	width: 900px;
	margin: 30px;
	padding: 10px;
	display: inline;
}

#header {
	height: 300px;
	margin: 10px;
	padding-top: 50px;
	
}

#navigation {
	height: 55px;
	margin: 30px;
	padding-top: 50px;
	padding-bottom: 10px;
	position: left;
}

	body {
	font-size: 10px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0px;
	padding: 20px;
	font-family: 'Open Sans', Arial, sans-serif;
	
	}
	
	ul {
	margin: 0;
	padding: 4px 0 0 0;
	}
	
	li {
	display: inline;
	margin: 0 5px 0 0;
	}
	
	a {
	text-decoration: none;
	padding: 0px 5px;
	border: none;
	color: #000;
	}
	
		a:hover {
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		font-family: "Arial";
		opacity: 0.50;
		color: #331355;
		padding: 5px;

		}

#content {
	height: 0px;
	margin: 30px;
    padding-top: 60px;
    background-color: #fff;
   
}


#footer {
	height: 0px;
	margin: 20px;
	padding: 30px;
	font-family: "Arial";
	font-size: 10px;
	background-color: #fff;
}




